@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Open+Sans|VT323|Raleway|Raleway+Dots|Roboto:100')
@import "toastgrid"

html
  font-size: 16px

  body
    margin: 0
    height: auto
    overflow-x: hidden
    //font:
      family: "Open Sans"
    //width: 100%

    h1
      margin: 0
      font:
        family: "Raleway Dots", serif
        size: 2.5rem
      color: cadetblue

    h1.section
      color: white

    h3
      margin: 0
      font:
        family: VT323
        size: 1.875rem
      color: black

    h4
      margin: 0
      font:
        family: "Coming Soon"
        size: 1.563rem
      color: black

    section
      margin-bottom: 4.375rem

    p
      font:
        family: "Roboto", sans-serif
        size: 1.250rem

    header

      .background
        position: relative
        //height: 31.250rem
        filter: brightness(1) blur(3px)
        background:
          image: url(../assets/Night3.jpg)
          repeat: repeat-x
          size: cover
          position: 0 100%

      .MainTitle
        text-align: center
        vertical-align: middle
        line-height: 9.375rem
        font:
          size: 6.250rem
          family: "Open Sans", sans-serif
        color: wheat
        height: 9.375rem
        width: 100%
        position: absolute
        top: 9.375rem
        //border:
          color: whitesmoke
          style: dashed

      nav
        position: absolute
        top: 18.750rem
        height: 3.125rem
        width: 100%
        //border:
          color: whitesmoke
          style: dashed
        color: white
        text-align: center
        vertical-align: middle
        line-height: 3.125rem
        font:
          family: "Raleway", sans-serif
          size: 1.250rem

        a
          text-decoration: none
          color: white

        a:hover
          text-shadow: 0.125rem 0.125rem 0.938rem rgb(159, 149, 233)
          color: #9057ff


    section.bio
      position: relative
      //border:
        color: crimson
        style: dashed
        height: auto
      box-sizing: border-box
      //padding: 6.250rem

      .bio-title
        //border:
          color: darkslategray
          style: dashed
        background:
          color: antiquewhite
        height: auto
        text-align: center
        position: relative

      .bio-content
        //border:
          color: darkslategray
          style: dashed
        height: auto

      .bio-pic
        border:
          color: darkslategray
          style: dashed
        height: 11.375rem

  .git, .music
    position: relative
    //border:
      color: crimson
      style: dashed
    height: auto
    box-sizing: border-box
    //padding: 3.125rem

    .music-content-title
      border:
        color: darkslategray
        style: dashed
      margin-bottom: 1.875rem
      text-align: center

    .music-content
      height: auto
      //border:
        color: darkslategray
        style: dashed

    .music-logo
      height: 18.75rem
      background:
        image: url("../assets/music.svg")
        repeat: no-repeat
        position: center

    .git-logo
      //border:
        color: darkslategray
        style: dashed
      height: 18.75rem
      //width: auto
      background:
        image: url("../assets/githubMark.svg")
        repeat: no-repeat
        position: center

    .git-section
      //border-top:
        color: gold
        style: solid
      //border:
        color: darkslategray
        style: dashed
      border-bottom:
        color: gold
        style: solid
      height: auto

      .git-section-title
        text-align: center
        border:
          color: crimson
          style: dashed

      .banknote
        background:
          image: url(../assets/banknote.svg)
          repeat: no-repeat
          position: center
        height: 7.188rem
        margin-top: 1.250rem

      .backpack
        margin-top: 1.250rem
        height: 7.188rem
        //border-bottom:
          color: black
          style: groove
        background:
          image: url("../assets/world.svg")
          repeat: no-repeat
          position: center

      .display
        height: 7.188rem
        //border:
          color: darkslategray
          style: dashed
        margin-top: 1.250rem
        background:
          image: url("../assets/display.svg")
          repeat: no-repeat
          position: center

    .git-title, .music-title
      //border:
        color: darkslategray
        style: dashed
      height: auto
      width: auto
      padding: 0.325rem
      position: absolute
      top: -3.125rem

    .git-title
      background-color: lightslategrey

    .music-title
      background-color: darkslategray

  .git
    background-color: wheat

  .music
    background-color: aliceblue

  footer
    background:
      color: coral
    height: 18.750rem
    //border:
      color: crimson
      style: dashed

@media (min-width: 700px)
  .background
    background:
      attachment: fixed
    height: 31.250rem

  .git, .music
    padding: 3.125rem

  .bio
    padding: 6.250rem

@media (max-width: 700px)
  html
    font-size: 15px

  .git, .music, .bio
    padding: 2.5rem

  .background
    height: 15rem

@media (max-width: 500px)
  html
    font-size: 13px

    .git, .music, .bio
      padding: 1.5rem

      .banknote, .backpack, .display
        display: none

    .background
      height: 10rem

@media (max-width: 300px)
  html
    font-size: 10px

    .git, .music, .bio
      padding: 1rem


